{% extends "layout.html" %}

{% block content %}
 
 <p>A growing software developer who earned his degree in computer science from the <a href="http://uvm.edu" target="_blank">University of Vermont</a> with a minor in German. Loves coding in <a href="http://python.org" target="_blank">Python</a>, creating intuitive and aesthetically pleasing visuals, leveraging new technology and frameworks, particularly of the open source variety. Always trying to learn new languages on the side, contribute to projects and is currently interested in <a href="http://haskell.org" target="_blank">Haskell</a>.</p>

 <p>Fond of trivia (Jeopardy!), craft beer, quadcopters, quality headphones, mechanical keyboards and all things geeky.</p>
{% endblock %}

