<!DOCTYPE html>
<html>
<head>
	<title>Sean Perkins</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name = 'description' content='The personal website of Sean Perkins, computer science graduate from the University of Vermont.'>
  	<meta name='keywords' content='Sean, Perkins, C, github, programming, programmer, software, developer, resume, website, linux, python'>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" media="screen,projection" href="{{ url_for('static', filename='css/materialize.min.css')}}"/> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

     <script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-61031774-1', 'auto');
		  ga('send', 'pageview');
	</script>
</head>
<body>

<header>
</header>
	<main>	
	<div class="row">
		<h3 class="name-logo">Sean Perkins</h3>
	</div>
	<div class="row">
		<div class="col s12 m4 l3">
			<div class="left-nav">
				<ul>
					<li><a href="{{ url_for('home') }}" class="waves-effect waves-violet">About Me</a></li>
					<li><a href="{{ url_for('projects') }}" class="waves-effect waves-violet">Projects</a></li>
					<li><a href="{{ url_for('resume')}}" class="waves-effect waves-violet">Resume</a></li>
				</ul>
			</div>
		</div>

		<div class="col s12 m8 l9">
			<div class="container">
			{% block content %}
        	{% endblock %}
        	</div> 				
		</div>		
	</div>
	</main>
	
	<footer class="page-footer"> 
        <div class="footer-copyright">
            <div class="container">
                © 2015 Sean Perkins. All rights reserved.
                <a class="right" href="http://www.linkedin.com/pub/sean-perkins/49/385/b5b/"><img src="{{ url_for('static', filename='img/linkedin-48.png')}}"></a>
                <a class="right" href="https://github.com/scperkins"><img src="{{ url_for('static', filename='img/github-48.png')}}"></a>
                <a class="right" href="https://twitter.com/syntacticsugar_"><img src="{{ url_for('static', filename='img/twitter-48.png')}}"></a>
            </div>
        </div>
    </footer>

    <!-- Javascripts -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script> 
	<script type="text/javascript">
		$(document).ready(function(){
	    	$('.dropdown-button').dropdown({
	      inDuration: 300,
	      outDuration: 225,
	      constrain_width: false, // Does not change width of dropdown to that of the activator
	      hover: false, // Activate on click
	      alignment: 'left', // Aligns dropdown to left or right edge (works with constrain_width)
	      gutter: 0, // Spacing from edge
	      belowOrigin: false // Displays dropdown below the button
	    }
	  );
	});
	</script>
</body>
</html>